In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Yuri\Desktop\tech_tasks\zaymigo\3. Автоматизация процесса поиска ошибок\define_limit.csv', sep='\t', encoding='latin-1')

In [3]:
df

,Èäåíòèôèêàòîð,Äàòà,Ïðîñðî÷êà â áàíêå,Ïðîñðî÷êà â ÌÔÎ,Ïðîñðî÷êà â íàøåì ïðîøëîì çàéìå,Ëèìèò èç ïîñëåäíåãî çàêðûòîãî çàéìà,Îïëà÷åííûå ïðîöåíòû â ïðîøëîì çàéìå,Ïðåäîñòàâëÿåìûé ëèìèò
0,980580,2020-01-01 01:15:00,18606,1268,69,8412,281,0
1,492542,2020-01-02 01:15:00,12912,57,34,4683,741,2000
2,570210,2020-01-03 01:15:00,888,7733,9,1611,291,5000
3,800208,2020-01-04 01:15:00,7623,5357,74,2725,339,0
4,734441,2020-01-05 01:15:00,1391,1710,95,1070,551,0
...,...,...,...,...,...,...,...,...
995,116171,2022-09-22 01:15:00,4687,4504,35,7719,150,2000
996,532897,2022-09-23 01:15:00,4793,9525,29,930,766,5000
997,405070,2022-09-24 01:15:00,3015,6490,56,9494,879,0
998,951950,2022-09-25 01:15:00,9896,3580,1,6004,331,2000
999,729384,2022-09-26 01:15:00,2181,2715,88,9073,324,0

In [4]:
df.columns

Index(['Èäåíòèôèêàòîð', 'Äàòà', 'Ïðîñðî÷êà â áàíêå', 'Ïðîñðî÷êà â ÌÔÎ',
       'Ïðîñðî÷êà â íàøåì ïðîøëîì çàéìå',
       'Ëèìèò èç ïîñëåäíåãî çàêðûòîãî çàéìà',
       'Îïëà÷åííûå ïðîöåíòû â ïðîøëîì çàéìå', 'Ïðåäîñòàâëÿåìûé ëèìèò'],
      dtype='object')

In [5]:
df.rename(columns={'Èäåíòèôèêàòîð': 'Идентификатор',
                   'Äàòà': 'Дата',
                   'Ïðîñðî÷êà â áàíêå': 'Просрочка_в_банке',
                   'Ïðîñðî÷êà â ÌÔÎ': 'Просрочка_в_МФО',
                   'Ïðîñðî÷êà â íàøåì ïðîøëîì çàéìå': 'Просрочка_в_нашем_прошлом_займе',
                   'Ëèìèò èç ïîñëåäíåãî çàêðûòîãî çàéìà': 'Лимит_из_последнего_закрытого_займа',
                   'Îïëà÷åííûå ïðîöåíòû â ïðîøëîì çàéìå': 'Оплаченные_проценты_в_прошлом_займе',
                   'Ïðåäîñòàâëÿåìûé ëèìèò': 'Предоставляемый_лимит',
                  }, inplace=True)

In [6]:
df

,Идентификатор,Дата,Просрочка_в_банке,Просрочка_в_МФО,Просрочка_в_нашем_прошлом_займе,Лимит_из_последнего_закрытого_займа,Оплаченные_проценты_в_прошлом_займе,Предоставляемый_лимит
0,980580,2020-01-01 01:15:00,18606,1268,69,8412,281,0
1,492542,2020-01-02 01:15:00,12912,57,34,4683,741,2000
2,570210,2020-01-03 01:15:00,888,7733,9,1611,291,5000
3,800208,2020-01-04 01:15:00,7623,5357,74,2725,339,0
4,734441,2020-01-05 01:15:00,1391,1710,95,1070,551,0
...,...,...,...,...,...,...,...,...
995,116171,2022-09-22 01:15:00,4687,4504,35,7719,150,2000
996,532897,2022-09-23 01:15:00,4793,9525,29,930,766,5000
997,405070,2022-09-24 01:15:00,3015,6490,56,9494,879,0
998,951950,2022-09-25 01:15:00,9896,3580,1,6004,331,2000
999,729384,2022-09-26 01:15:00,2181,2715,88,9073,324,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Идентификатор                        1000 non-null   int64
 1   Дата                                 1000 non-null   object
 2   Просрочка_в_банке                    1000 non-null   int64
 3   Просрочка_в_МФО                      1000 non-null   int64
 4   Просрочка_в_нашем_прошлом_займе      1000 non-null   int64
 5   Лимит_из_последнего_закрытого_займа  1000 non-null   int64
 6   Оплаченные_проценты_в_прошлом_займе  1000 non-null   int64
 7   Предоставляемый_лимит                1000 non-null   int64
dtypes: int64(7), object(1)
memory usage: 62.6+ KB

In [8]:
def set_limit(bank, mfo, loan, limit, percentage):
    if loan > 50:
        return 0
    elif (bank > 15000) or (mfo > 7000):
        return 5000
    elif (loan > 15) and (mfo > 5000):
        return limit
    elif (bank < 1000) and (mfo < 8000) and (loan < 20):
        return limit + 10*percentage
    else:
        return 2000

In [9]:
df['new_limit'] = df.apply(lambda x: set_limit(x.Просрочка_в_банке, x.Просрочка_в_МФО, x.Просрочка_в_нашем_прошлом_займе, x.Лимит_из_последнего_закрытого_займа, x.Оплаченные_проценты_в_прошлом_займе), axis=1)

In [10]:
df

,Идентификатор,Дата,Просрочка_в_банке,Просрочка_в_МФО,Просрочка_в_нашем_прошлом_займе,Лимит_из_последнего_закрытого_займа,Оплаченные_проценты_в_прошлом_займе,Предоставляемый_лимит,new_limit
0,980580,2020-01-01 01:15:00,18606,1268,69,8412,281,0,0
1,492542,2020-01-02 01:15:00,12912,57,34,4683,741,2000,2000
2,570210,2020-01-03 01:15:00,888,7733,9,1611,291,5000,5000
3,800208,2020-01-04 01:15:00,7623,5357,74,2725,339,0,0
4,734441,2020-01-05 01:15:00,1391,1710,95,1070,551,0,0
...,...,...,...,...,...,...,...,...,...
995,116171,2022-09-22 01:15:00,4687,4504,35,7719,150,2000,2000
996,532897,2022-09-23 01:15:00,4793,9525,29,930,766,5000,5000
997,405070,2022-09-24 01:15:00,3015,6490,56,9494,879,0,0
998,951950,2022-09-25 01:15:00,9896,3580,1,6004,331,2000,2000
999,729384,2022-09-26 01:15:00,2181,2715,88,9073,324,0,0

In [11]:
# изначально верено выставленный лимит
df[df['Предоставляемый_лимит'] != df['new_limit']]

,Идентификатор,Дата,Просрочка_в_банке,Просрочка_в_МФО,Просрочка_в_нашем_прошлом_займе,Лимит_из_последнего_закрытого_займа,Оплаченные_проценты_в_прошлом_займе,Предоставляемый_лимит,new_limit
15,56397,2020-01-16 01:15:00,15431,9658,99,2532,724,5000,0
33,68416,2020-02-03 01:15:00,11509,5472,26,9165,716,4568,9165
46,586472,2020-02-16 01:15:00,6053,6795,1,8483,833,0,2000
86,712926,2020-03-27 01:15:00,10954,3966,10,1757,675,0,2000